<div class="container">
    <h2 class="title text-center mb-lg">Современная языковая школа MurMur</h2>

    <h3 class="title text-center mb-lg mt-lg">Опыт</h3>
    <div class="item-container-2">
      <div class="item-2">
        <p class="title-sm text-center">Опыт преподавания языков с 1998 года</p>
      </div>
      <div class="item-2">
        <p class="title-sm text-center">Филиалы во всех областях Беларуси</p>
      </div>
      <div class="item-2">
        <p class="title-sm text-center">10000+ студентов ежегодно</p>
      </div>
      <div class="item-2">
        <p class="title-sm text-center">Сотни обучающихся компаний</p>
      </div>
    </div>

    <h3 class="title text-center mb-lg mt-lg">Признание</h3>
    <div class="item-container-2">
      <div class="item-2">
        <p class="title-sm text-center">Престижная международная аккредитация Quality English Associate School за качество преподавания и сервиса</p>
      </div>
      <div class="item-2">
        <p class="title-sm text-center">Членство в ассоциациях международного образования: ICEF, English UK, Business English UK, EAQA</p>
      </div>
      <div class="item-2">
        <p class="title-sm text-center">Победа в Первой премии HR-бренд Беларусь, 2014, 2023</p>
      </div>
      <div class="item-2">
        <p class="title-sm text-center">Премия «Номер один» в двух номинациях: Школа английского языка №1, VIP-курсы английского №1</p>
      </div>
    </div>

    <h3 class="title text-center mb-lg mt-lg">Качество</h3>
    <div class="item-container-2">
      <div class="item-2">
        <p class="title-sm text-center">Обучение языкам по современным мировым стандартам: системное, практически ориентированное, с измеряемым результатом.</p>
      </div>
      <div class="item-2">
        <p class="title-sm text-center">250+ учебных программ + эффективные инструменты для языковой практики. Найдём самый быстрый путь к вашей цели!</p>
      </div>
      <div class="item-2">
        <p class="title-sm text-center">Собственный академический центр. Развитие преподавателей, внедрение стандартов, обновление методик, создание образовательных продуктов, пособий, проектов.</p>
      </div>
      <div class="item-2">
        <p class="title-sm text-center">Высококлассные преподаватели. Искренне любят профессию! Постоянно учатся, чтобы стать ещё лучше, получают международные квалификации, стажируются за рубежом.</p>
      </div>
    </div>

</div>
