.form-text-area,
.form-text-field {
  border: 1px solid #d0d0d0;
  font-size: 16px;
  padding: 7.5px 10px;
}

.form-text-area:focus,
.form-text-field:focus {
  background-color: #FEE9C3;
  outline-width: 0;
}

.form-text-area {
  box-sizing: border-box;
  height: 100px;
  resize: none;
  width: 100%;
}

.form-file-field {
  border: 1px solid #d0d0d0;
  font-size: 16px;
  padding: 7.5px 10px;
}

.translation-text-area {
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  font-size: 16px;
  height: 200px;
  padding: 7.5px 10px;
  resize: none;
  width: 100%;
}
